.grid {
    display: grid;
    gap: 16px;
    padding: 16px;
}

.clickable {
    cursor: pointer;
}

#card {
    -webkit-animation: card-mover 2s ease-in-out infinite alternate;
    animation: card-mover 2s ease-in-out infinite alternate;
}

#card:hover {
    -webkit-animation: none;
    animation: none;
    transform: scale(1.03);
}

.page-button:hover {
    background: rgb(237,41,57)!important;
    color: whitesmoke;
}

@-webkit-keyframes card-mover {
    0% { transform: translateY(0px); }
    100% { transform: translateY(-3px); }
}

@keyframes card-mover {
    0% { transform: translateY(0px); }
    100% { transform: translateY(-3px); }
}

@media Screen and (min-width: 500px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }    
}

@media Screen and (min-width: 768px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }    
}

@media Screen and (min-width: 960px) {
    .grid {
        grid-template-columns: repeat(3, 1fr);
    }    
}

@media Screen and (min-width: 1200px) {
    .grid {
        grid-template-columns: repeat(4, 1fr);
    }    
}