.grid {
    display: grid;
    gap: 16px;
    padding: 16px;
}

.clickable {
    cursor: pointer;
}

#card:hover {
    transform: scale(1.03);
}

.page-button:hover {
    background: rgb(237,41,57)!important;
    color: whitesmoke;
}

@media Screen and (min-width: 500px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }    
}

@media Screen and (min-width: 768px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }    
}

@media Screen and (min-width: 960px) {
    .grid {
        grid-template-columns: repeat(3, 1fr);
    }    
}

@media Screen and (min-width: 1200px) {
    .grid {
        grid-template-columns: repeat(4, 1fr);
    }    
}